<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HBDrawViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E1F3FA81BF33C4B00ACE525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E1F3FC11BF33C4B00ACE525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E1F3FCC1BF33C4B00ACE525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
